.grid {
              background-color: green;
              display: grid;
              padding: 20px;
              grid-column-gap: 20px;
              grid-row-gap: 10px;
              grid-template-columns: 300px 300px 300px;
          }

          .grid-item {
              background-color: white;
              font-size: 20px;
              padding: 0px
              text-align: center;
          }

    img {
            width: 300px;
            height: 180px;
            align: center;
          }
